<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IT口袋.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B60356B11C570B3700E8C097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B60356CA1C570B3800E8C097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B60356D51C570B3800E8C097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
